@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');
/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
}
header {
    padding: 2px;
    background-color: #6267b5;
}
ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #B2B4DB;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: #FFFFFF;
}

article {                           /* Таблица отмененных рейсов*/
    padding-top: 20px;
}

table {
    /*border: 1px solid #6267b5;*/
    width: 70%;                     /* Ширина таблицы */
    border-collapse: collapse;
}

th{
    text-align: left;
    font-weight: normal;
    background-color: #F5F5F5;
}

td {
    font-size: 16px;
    font-weight: lighter;
}

td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.name_table {
    font-weight: bold;
    background-color: #F5F5F5;
}
.name_table:hover {
    cursor: default;
}

.name_table th {
    padding: 7px;
}

.cancelled_flights_open{
    background-color: #e6e6e6;
    text-align: center;
}

.cancelled_flights_open:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #cdcdcd;
}

.cancelled_flights_open td {
    padding: 5px;
}

.cancelled_flights {
    margin: auto;
}

.name_flights, tr{
    background-color: #F5F5F5;
}

.name_flights td {
    height: 35px;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.name_flights:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
}

.status {
    color: #e6556b;
    font-weight: normal;
}