body { 
    font-family: monospace ;
    background-color: #EDEEF0;
}

.main__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.table__airport {
    margin-top: 25px;
}

.title__info {
    text-align: center;
}

a {
    text-decoration: none;
}