@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0;
    padding: 0;
}

main {
}
header {
    padding: 2px;
    background-color: #6267b5;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 60px;
}

a {
    color: #B2B4DB;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    color: #FFFFFF;
}

article {                           /* Таблица отмененных рейсов*/
    padding-top: 20px;

}

table {
    /*border: 1px solid #6267b5;*/
    width: 85%;                    /* Ширина таблицы */
    /*width: 1200px; */
    border-collapse: collapse;
}

th{
    text-align: left;
    font-weight: normal;
    background-color: #F5F5F5;
}

td {
    font-size: 14px;
    font-weight: lighter;
}

td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.name_table {
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
}
.name_table:hover {
    cursor: default;
}

.name_table th {
    padding: 7px;
}

.button_open_close{
    background-color: #e6e6e6;
    text-align: center;
}

.button_open_close:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #cdcdcd;

}

.button_open_close td {
    padding: 5px;
}

.cancelled_flights {
    margin: auto;

}

.name_flights {
    border: 1px solid transparent;
}
.name_flights, tr{
    background-color: #F5F5F5;
    color: #000000;

}

.name_flights td {
    height: 35px;
    /*padding-top: 10px;
    padding-bottom: 10px;*/

}

.name_flights:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    /*font-weight: bold;
    /*-webkit-transform: scale(1.025); /*увеличение ячейки*/
    /*-ms-transform: scale(1.025);*/
    /*transform: scale(1.025);*/
    text-shadow: 0 0 .65px #0f0f0f, 0 0 .65px #0f0f0f;
    }

.status {
    color: #e6556b;
    font-weight: normal;
}
/* Подвал сайта */
footer {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    background-color: #0f0f0f;
}